  table, tr, th, td
{
	border: solid black 1px  ;	 
	text-align: center;
}

table
{
	border-collapse: collapse;
	width: 800px;
	height: 400px;
}
body
{
	color:red;
	background-color: grey;
}
a
{
	color: red;
}
header
{
		background-color:black;
}

article
{
	float: left;
 
 }

aside
{
	float: left;
	 
	width: 100%;
	height: 500px;
}

footer
{
	text-align: right;
	clear:both;
	
}
@media all and (max-width: 890px)
{
	table
	{
		width: 50%;
	}
	img
	{
		width: 60%;
	}
}